<div class="bg-gray-800 mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <div class="text-center sm:text-center sm:flex-grow">
      <div class="mb-4">
        <h1 class="text-xl leading-tight">HotWiki</h1>
        <p class="text-sm leading-tight text-grey-100">A Hotwire/Turbo wiki</p>
      </div>
    </div>
  </div>
</div>
